force-app/main/default/flows/ENGINE_5_REFUND_INITIATED.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Raising_Support_Ticket</name>
        <label>Raising Support Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RefundRequestEngine</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Refund_Request_Received</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RefundRequestEngine</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Refund_Request_Received</name>
        <label>Refund Request Received</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.Customer__r.Email__c</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Refund Request Received – Order {!$Record.Order_Number__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Dear {!$Record.Customer__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for reaching out regarding your recent order (Order ID:{!$Record.Order_Number__c}).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We have successfully received your refund request and created a support case under reference number {!$Record.Support_Ticket__r.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our Customer Service Team is currently reviewing your concern and will carefully investigate the issue with the relevant stakeholders. We aim to provide you with an update within 24–48 business hours.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We appreciate your patience while we work to resolve this for you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Warm regards,&lt;/p&gt;&lt;p&gt;Customer Experience Team,&lt;/p&gt;&lt;p&gt;Quick Plate.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Last working</description>
    <environments>Default</environments>
    <interviewLabel>ENGINE 5 - REFUND INITIATED {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ENGINE 5 - REFUND INITIATED</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Raising_Support_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refund_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Refund_Requested__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
