force-app/main/default/flows/Engine_4_Delivery_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handling_Delivery_Completion</name>
        <label>Handling Delivery Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DeliveryCompletionEngine</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DeliveryCompletionEngine</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Engine 4 – Delivery Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Engine 4 – Delivery Completion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Updating_Delivery_Time</name>
        <label>Updating Delivery Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Handling_Delivery_Completion</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivery_Done_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Updating_Delivery_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DELIVERED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
