Salesforce-CRM/force-app/main/default/flows/Initial_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>Total_Amount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Customer__r.Total_Spend__c} + {!$Record.Order_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Total_order_Count</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Customer__r.Total_Orders__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Total_Order_Count_Rest</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Restaurant__r.Total_Orders__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Initial save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ORDER CREATION ENGINE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_Restaurant</name>
        <label>Getting Restaurant Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_SLA_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Restaurant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Restaurant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Customer_Data_Update</name>
        <label>Customer Data Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Restaurant_data_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Order_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Orders__c</field>
            <value>
                <elementReference>Total_order_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Spend__c</field>
            <value>
                <elementReference>Total_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Restaurant_data_Update</name>
        <label>Restaurant data Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Restaurant__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Orders__c</field>
            <value>
                <elementReference>Total_Order_Count_Rest</elementReference>
            </value>
        </inputAssignments>
        <object>Restaurant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_SLA_Details</name>
        <label>Updating SLA Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Data_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Status__c</field>
            <value>
                <stringValue>PAYMENT_PENDING</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>UNPAID</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Minutes__c</field>
            <value>
                <elementReference>Getting_Restaurant.Avg_Prep_Time_Min__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_Restaurant</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Order_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CREATED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PAYMENT_PENDING</stringValue>
            </value>
        </filters>
        <object>Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
