Salesforce-CRM/force-app/main/default/flows/Support_Ticket_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>update_Finance_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refund_Recommended__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Refund_Recommended__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Team_Approved_Refund</targetReference>
            </connector>
            <label>update Finance Status</label>
        </rules>
        <rules>
            <name>Update_Closed_Ticket_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ticket_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLOSED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Ticket_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CLOSED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Refunded_in_Satus</targetReference>
            </connector>
            <label>Update Closed Ticket Time</label>
        </rules>
        <rules>
            <name>Update_Finance_Status_by_Finance_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Finance_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APPROVED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Finance_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>APPROVED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Support_Ticket_Update</targetReference>
            </connector>
            <label>Update Finance Status by Finance Team</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Balance</name>
        <dataType>Currency</dataType>
        <expression>ABS({!Getting_Credits.Available_Amount__c} + {!$Record.Recommended_Refund_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Adding Expiry date to Next 3 months Time</description>
        <name>Expiry_Date</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS(NOW(), 3)</expression>
    </formulas>
    <interviewLabel>Support Ticket Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Ticket Completion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Refund Payment Transaction created</description>
        <name>Create_Refund_Payment</name>
        <label>Create Refund Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Adding_Credits</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Recommended_Refund_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initiated_By__c</field>
            <value>
                <stringValue>FINANCE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linked_Original_Transaction__c</field>
            <value>
                <elementReference>$Record.Order__r.Payment_Transaction__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Refund_Payment_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>WALLET</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Transaction__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raw_Stripe_Response__c</field>
            <value>
                <stringValue>&apos;NA&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Refund_Reason__c</field>
            <value>
                <elementReference>$Record.Reason_for_Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>SUCCESS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Payment_Intent_Id__c</field>
            <value>
                <stringValue>&apos;NA&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Session_Id__c</field>
            <value>
                <stringValue>&apos;NA&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Status__c</field>
            <value>
                <stringValue>REFUND_SUCCESS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <stringValue>REFUND</stringValue>
            </value>
        </inputAssignments>
        <object>Payment_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Getting_Credits</name>
        <label>Getting Credits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Adding_Credits</name>
        <label>Adding Credits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Recommended_Refund_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Available_Amount__c</field>
            <value>
                <elementReference>Balance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_By_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Status__c</field>
            <value>
                <stringValue>ACTIVE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>Expiry_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Credit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Order_Support_Ticket_Update</name>
        <label>Order-Support Ticket Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Refund_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refund_Amount__c</field>
            <value>
                <elementReference>$Record.Recommended_Refund_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Approved_By__c</field>
            <value>
                <elementReference>$Record.Owner:Group.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Type__c</field>
            <value>
                <stringValue>CREDIT</stringValue>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Payment_Refunded_in_Satus</name>
        <label>Payment Refunded in Satus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Ticket_Close_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refund_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Refund_Approved__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Order__r.Refund_Approved__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>REFUNDED</stringValue>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Service_Team_Approved_Refund</name>
        <label>Service Team Approved Refund</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refund_Recommended__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Refund_Recommended__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Refund_Recommended__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Finance_Approval_Status__c</field>
            <value>
                <stringValue>PENDING_FINANCE_APPROVAL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ticket_Close_Time</name>
        <label>Update Ticket Close Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ticket_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLOSED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ticket_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Ticket_Status__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_Credits</targetReference>
        </connector>
        <object>Support_Ticket__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Refund_Payment_Name</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>REFUND - {!$Record.Order__r.Id}</text>
    </textTemplates>
</Flow>
